<section class="banner">
    <div class="banner-inner">
        <div class="banner-title">Collaborate faster and more securely</div>
        <div class="banner-text">Boost business productivity with the ultimate file saving and sharing tool that employees love and IT admins trust.</div>
        <div class="banner-button">
            <a href="#" class="banner-link">Try free for 30 days</a>
        </div>
        <span class="try-business-cta__footer no-break">
            or
            <a href="#" class="banner-link">purchase now</a>
        </span>
    </div>
</section>