<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frontend Devil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="../img/microsoft.png" alt="Microsoft">
                </a>
            </div>
            <nav class="table-nav">
                <ul class="table-nav-items">
                    <li class="table-nav-item">
                        <a class="table-nav-link" href="#">Store</a>
                        <div class="table-nav-dropdown">
                            <ul class="tree-nav-items">
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">Store home</a>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        Devices
                                        <i class="tree-nav-arrow"></i>
                                    </a>
                                    <div class="tree-nav-dropdown">
                                        <ul class="tree-nav-items">
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Microsoft Surface</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">PCs &amp; tablets</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Xbox</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Virtual reality</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Accessories</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Windows phone</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Microsoft Band</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        Software
                                        <i class="tree-nav-arrow"></i>
                                    </a>
                                    <div class="tree-nav-dropdown">
                                        <ul class="tree-nav-items">
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Office</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Windows</a>
                                            </li>
                                            <li class="tree-nav-item">
                                                <a href="#" class="tree-nav-link">Additional software</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="table-nav-item">
                        <a class="table-nav-link" href="#">Products</a>
                        <div class="table-nav-dropdown">
                            <ul class="tree-nav-items">
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">Software &amp; services</a>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        Devices &amp; Xbox
                                    </a>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        For business
                                    </a>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        For developers &amp; IT pros
                                    </a>
                                </li>
                                <li class="tree-nav-item">
                                    <a href="#" class="tree-nav-link">
                                        For students &amp; educators
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="table-nav-item">
                        <a class="table-nav-link" href="#">Support</a>

                    </li>
                </ul>
            </nav>
        </div>
    </header>
