<section class="sign-up">
    <div class="sign-up-container">

        <h2 class="sign-up-title">Join over 2 million designers already using InVision. Get InVision <strong>free</strong> forever!</h2>

        <form method="POST" id="sign-up-form" class="sign-up-form" action="https://projects.invisionapp.com/d/signup/process" novalidate>

            <div class="sign-up-input">
                <label for="sign-up-name" style="opacity: 1;">Your Name</label>
                <i class="ico-user"></i>
                <input type="text" name="name" id="sign-up-name" value="" autocomplete="off" spellcheck="false">
            </div>
            <div class="sign-up-input">
                <label for="sign-up-email" style="opacity: 1;">Email Address</label>
                <i class="ico-email"></i>
                <input type="text" name="email" id="sign-up-email" value="" autocomplete="off" spellcheck="false">
            </div>
            <div class="sign-up-input">
                <label for="sign-up-password" style="opacity: 1;">Create a Password</label>
                <i class="ico-lock"></i>
                <input type="password" name="password" id="sign-up-password" value="" autocomplete="off" spellcheck="false">
            </div>

            <div class="sign-up-button">
                <button type="submit">Get Started — Free Forever!</button>
            </div>

        </form>

        <p class="sign-up-terms">By clicking "Get Started — Free Forever!" I agree to InVision's <a class="sign-up-link" href="/terms">Terms of Service.</a></p>

    </div>
</section>