
<section class="special-offer">
    <ul class="special-offer-list">
        <li class="special-offer-item">
            <a class="special-offer-link" href="https://www3.oculus.com/rift/#eve-valkyrie">
                <div class="special-offer-img" style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg);"></div>
                <div class="special-offer-title">
                    <h4>FEATURED CONTENT</h4>
                    <h3>EVE: Valkyrie</h3>
                </div>
            </a>
        </li>
        <li class="special-offer-item">
            <a class="special-offer-link" href="https://www3.oculus.com/rift/#luckys-tale">
                <div class="special-offer-img" style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg);"></div>
                <div class="special-offer-title">
                    <h4>INCLUDED WITH ALL RIFT PURCHASES</h4>
                    <h3>Lucky's Tale</h3>
                </div>
            </a>
        </li>
        <li class="special-offer-item">
            <a class="special-offer-link" href="https://www3.oculus.com/en-us/blog/over-30-full-games-launching-with-oculus-touch-this-year/">
                <div class="special-offer-img" style="background-image: url(https://scontent.oculuscdn.com/t64.5771-25/12504833_1567818890181507_64856256_n.jpg/touch.jpg);"></div>
                <div class="special-offer-title">
                    <h4>FEATURED STORY</h4>
                    <h3>Over 30 Full Games Launching with Oculus Touch this Year</h3>
                </div>
            </a>
        </li>
    </ul>
</section>

